version: '3.8'

services:
  mongo:
    image: mongo:6.0
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  backend:
    build: ./backend
    container_name: backend_container
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo  
    volumes:
      - ./backend/app:/code/app
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules # Don't let local node_modules overwrite container ones
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend
  mongo-express:
      image: mongo-express
      restart: always
      ports:
        - "8081:8081"
      environment:
        # IMPORTANT: Change 'mongo' to whatever your database service is named in this file
        ME_CONFIG_MONGODB_SERVER: mongo 
        # ME_CONFIG_MONGODB_ADMINUSERNAME: root
        # ME_CONFIG_MONGODB_ADMINPASSWORD: example
        ME_CONFIG_BASICAUTH: "false"
      depends_on:
        - mongo
volumes:
  mongo_data:  
